.c2 h2{
    font-size: 3.6rem;
    margin-top: -280px;
    color: aliceblue;
    text-align: center;
}
.c4 p{
    font-size: 1.2rem;
    margin-top:280px;
    color: aliceblue;
    text-align: center;
}
.c3 h2{
    font-size: 3.6rem;
    margin-top: -500px;
    color: aliceblue;
    text-align: center;
}
.Gird_6 img{
    margin-top: -500px;

}
.c7{
    
    background-color: black;
    height: 400px;
    width: 100%;
    color: aliceblue
}

.carousel-caption {
    padding: 0%;
    right: 0;
    text-align: right;
    background-color:black;
    max-width: 1000px;
    margin-left:500px;
}
.carousel-caption c1{
    padding: 0%;
    right: 0;
    text-align: right;
    background-color:black;
    max-width: 1000px;
    margin-left:500px;
}